
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="Entrant" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Upload file</label>
                <input id="brants" name="brants" class="form-control mt-2" type="file">
                <button type="submit" class="btn btn-success mt-2">Upload </button>
            </div>
        </form>
    </div>
</div>